# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# # project out
# /build
 /Listings
 /Objects
# 忽略 build 目录下的所有文件和子目录
/build/**

# 保留 .hex 和 .bin 文件不被忽略
!/build/*.hex
!/build/*.bin
# /out

*.o
*.d
# eide template
*.ept
*.eide-template
/.vscode/*
/Listings/*
.clangd